body, html {
    height:100%;
    margin:0px;
}

body {
    display:flex;
    flex-direction: column;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}

h2, h3, p {
    font-family: Verdana, Tahoma, sans-serif;
}

.navbar ul {
    margin:0px;
    list-style-type: none;
    background-color:#c4c4c4;
}

.navbar li {
    display: inline;
    margin-left:20px;
    margin-right:20px;
    vertical-align: middle;
}

.navbar a {
    color:#000000;
    text-decoration: none;
}

.content {
    flex: 1 0 auto;
}

footer {
    width:100%;
    flex-shrink: 0;
    background-color:#c4c4c4;
}

footer p {
    line-height: 100px;
    text-align: center;
}

#logo {
    height:65px;
    width:65px;
}