{# whoa mama, here we go #}
{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <title>{% block title %}Impression{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'base_style.css' %}">
    </head>

    <body>
        <div class='navbar'>
            <ul>
                <li>
                    <a href="{% url 'welcome' %}">
                        <img id='logo' alt='logo' src="{% static 'images/Impression_Logo.png' %}">
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'users:logout' %}">Log Out</a>
                </li>
                <li>
                    <a href="dummy">Profile</a>
                </li>
                <li>
                    <a href="dummy">Messages</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'users:signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'users:login' %}">Log In</a>
                </li>
                {% endif %}
                <li>
                    <a href="dummy">Gallery</a>
                </li>
                <li>
                    <a href="dummy">Search</a>
                </li>
            </ul>
        </div>

        <div class='content'>
            <h1>{% block header %}Impression{% endblock %}</h1>
            {% block content %}
                <p>
                    This is the big guy that does all the stuff. I feel so
                    giddy right no for no reason. mmmmmmmmmmmm code. 
                    Hire me. 
                </p> 
            {% endblock content %}
        </div>

        <footer>
            <p>This is a Will Campbell (IVy) production. <a href="{% url 'about' %}">Learn More.</a></p>
        </footer>
    </body>

</html>

