{% extends "base.html" %}
{% load static %}

{% block content %}
<p>
    Welcome to the Gallery. Admission is free; please enjoy your time.
</p>


<div class='container'>
    <a href="{% url 'users:gallery' %}">
        <div class='path-block color-one'>
            <p>
                View the Gallery
            </[]>
        </div>
    </a>

    <a href="{% url 'search' %}">
        <div class='path-block color-two'>
            <p>
                Search for Artists
            </p>
        </div>
    </a>

    <a href="{% url 'users:signup' %}">
        <div class='path-block color-three'>
            <p>
                Join the Community
            </p>
        </div>
    </a>
</div>

<p>
    The very word has entered their language: not landscape, but impression, 
    in the title given in the catalog for M. Monet's Sunrise. 
</p>
<p>
    From this point of view, they have left reality behind 
    for <span style='font-weight:bold'> a realm of pure idealism. </span>
</p>
<p style='font-style:italic'>
    -Jules Castagnary
</p>
{% endblock content %}