{% extends "base.html" %}
{% load static %}

{% block content %}
<p>
    This is a gallery of not only art, but also
    its artists. I encourage you to slow down, look
    deeply, contemplate, consider, mull over, reckon
    with, and possibly even go so far as to discuss
    what you find here. To do so with yourself or 
    with others is your choice. 
</p>
<p>
    In this place, you may feel the desire to engage
    with others by joining a collective with them.
    This will allow you to chat, collaborate, and
    draw ideas from others easily. On that note,
    feel free to imitate, copy, or rip off fellow 
    artists - but please do not steal from them. To
    copy is an important method of learning, but after
    all the most valuable style is your own. 
</p>
<h3>
    Admission is free; please enjoy your time. 
</h3>
{% endblock content %}