{% extends 'base.html' %}

{% block title %}Impression | Search{% endblock %}
{% block header %}Search{% endblock %}

{% block content %}
    <form method="get" action="{% url 'search' %}">
        {{ form }}
        <input type="submit" value="Search">
    </form>

    {% if results %}
        {% for item in results %}
        <a href="{% url 'users:profile' username=item.username %}">{{ item.username }}</a>
        <p>{{ item.description }}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}