{% extends 'base.html' %}

{% block title %}Impression | Messages{% endblock %}
{% block header %}My Messages{% endblock %}

{% block content %}
<a href="{% url 'users:compose_message' %}">Compose Message</a>

{% for sender, message in messages %}
    {% if message.read %}
        <a href="{% url 'users:message_detail' id=message.id %}">
            <div style="background-color:#D4D4D4">
                <h3>{{ sender }}</h3>
                <p>
                    {{ message.title }}
                </p>
                <hr>
            </div>
        </a>
    {% else %}
        <a href="{% url 'users:message_detail' id=message.id %}">
            <div style="background-color:#FFFFFF">
                <h3>{{ sender }}</h3>
                <p>
                    {{ message.title }}
                </p>
                <hr>
            </div>
        </a>
    {% endif %}    
{% endfor %}
{% endblock content %}