{% extends 'users/messages.html' %}

{% block title %}Impression{% endblock %}
{% block header %}{{ curr_message.title }}{% endblock %}



{% block content %}

    {% if curr_message.is_friend_request %}
        <a href="{% url 'users:make_friends' sender=curr_message.sender %}">
            Accept Friend Request?
        </a>
    {% else %}
        {{ curr_message.body|linebreaks }}
    {% endif %}

    <p>
        <a href="{% url 'users:messages' %}">Back to Messages</a>
    </p>

    {{ block.super }}
{% endblock content %}