{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/user_style.css' %}">
{% endblock %}

{% block highlight_photo %}
    {% if this_pages_user.main_photo == "no_image" %}
        <img class='main_photo' src="{% static 'images/Impression_Logo.png' %}" alt="artist's header image">
    {% else %}
        <img class='main_photo' src="{{ this_pages_user.main_photo.url }}" alt="artist's header image">
    {% endif %}
{% endblock %}

{% block header %}
    {{ this_pages_user.username }}
{% endblock %}

{% block content %}

    {% if this_pages_user.username == user.username %}
        <p>
            Change account settings?
        </p>
    {% elif not are_friends %}
        <a href="{% url 'users:send_friends' receiver=this_pages_user.username %}">
            Send Friend Request?
        </a>
    {% endif %}
    <p>
        Practicing since {{ this_pages_user.artist_since }}
    </p>

{% endblock content %}