{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel='stylesheet' type='text/css' href="{% static 'users/user_style.css' %}">
{% endblock %}

{% block highlight_photo %}
    {% if host_user.main_photo == "no_image" %}
        <img class='main_photo' src="{% static 'images/Impression_Logo.png' %}" alt="artist's header image">
    {% else %}
        <img class='main_photo' src="{{ host_user.main_photo.url }}" alt="artist's header image">
    {% endif %}
{% endblock %}

{% block header %}
    {{ host_user.username }}
{% endblock %}

{% block content %}
    {{ host_user.description|linebreaks }}
    <p>
        Practicing since {{ host_user.artist_since }}
    </p>
    {% if host_user.username == user.username %}
        <p>
            <a href="{% url 'users:update' pk=user.pk %}">Edit Profile Information</a>
        </p>
        <p>
            <a href="{% url 'users:manage_friends' %}">See Friends List</a>
        </p>

    {% elif is_logged_in and not are_friends %}
        <a href="{% url 'users:send_friends' receiver=host_user.username %}">
            Send Friend Request?
        </a>
    {% endif %}

{% endblock content %}